<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138419160455-q2l5hcqj67grin7o5q9f9lcgsdittvg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138419160455-q2l5hcqj67grin7o5q9f9lcgsdittvg9</string>
	<key>API_KEY</key>
	<string>AIzaSyAdD9DNmMjGtfLFSLIdI6CCYj7yUnoNK2A</string>
	<key>GCM_SENDER_ID</key>
	<string>138419160455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mila.lyutok.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-6252f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-6252f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138419160455:ios:1b06fc57cf77d1437b3f22</string>
</dict>
</plist>